[user]
	name = Julian Vesper
	email = {{ .email | quote }}

[include]
    path = ~/.gitconfig.local

[fetch]
    prune     = true
    pruneTags = true
    all       = true

[merge]
	conflictstyle = zdiff3

[rerere]
	enabled = false

{{- if lookPath "delta" }}

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate                      = true
	dark                          = true
	minus-style                   = syntax "#4b2a3d"
	minus-non-emph-style          = syntax "#4b2a3d"
	minus-emph-style              = syntax "#6b2e43"
	minus-empty-line-marker-style = syntax "#4b2a3d"
	line-numbers-minus-style      = "#e26a75"
	plus-style                    = syntax "#2a4556"
	plus-non-emph-style           = syntax "#2a4556"
	plus-emph-style               = syntax "#305f6f"
	plus-empty-line-marker-style  = syntax "#2a4556"
	line-numbers-plus-style       = "#b8db87"
	line-numbers-zero-style       = "#3b4261"
{{- end -}}

{{- if or (lookPath "delta") (lookPath "difft") }}

[diff]
{{- if lookPath "delta" }}
	colorMoved = default
{{- end -}}
{{- if lookPath "difft" }}
	tool = difftastic
{{- end -}}
{{- end -}}

{{- if lookPath "difft" }}

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft --display 'side-by-side-show-both' "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[alias]
	dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
{{- end }}
