// =============================================================================
//
// Waybar configuration (https://hg.sr.ht/~begs/dotfiles)
//
// Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
//
// =============================================================================
{
  // -------------------------------------------------------------------------
  // Global Configuration (All Displays)
  // -------------------------------------------------------------------------
  "layer": "top",
  "position": "top",
  "modules-left": [
    {{- if eq .wm "hyprland" }}
    "hyprland/submap",
    "hyprland/workspaces",
    {{- else if eq .wm "river" }}
    "river/mode",
    "river/tags",
    {{- end }}
    "custom/arrow10",
    {{- if eq .wm "hyprland" }}
    "hyprland/window",
    {{- else if eq .wm "river" }}
    "river/window",
    {{- end }}
  ],
  "modules-right": [
    "custom/arrow1",
    "pulseaudio",
    "custom/arrow2",
    "network",
    "custom/arrow3",
    "memory",
    "custom/arrow4",
    "cpu",
    "custom/arrow5",
    "temperature",
    "custom/arrow6",
    "battery",
    "custom/arrow7",
    {{- if eq .wm "hyprland" }}
    "hyprland/language",
    {{- end }}
    "keyboard-state",
    "custom/arrow8",
    "tray",
    "clock#date",
    "custom/arrow9",
    "clock#time",
  ],
  // -------------------------------------------------------------------------
  // Modules
  // -------------------------------------------------------------------------
  "battery": {
    "interval": 15,
    "states": {
      "warning": 30,
      "critical": 15,
    },
    "format": "󰂄 {capacity:3}%",
    "format-discharging": "{icon} {capacity}%",
    "format-icons": ["󰁺", "󰁼", "󰁾", "󰂀", "󰁹"],
    "tooltip": false,
  },
  "clock#time": {
    "interval": 1,
    "format": "{:%H:%M:%OS}",
    "tooltip": false,
  },
  "clock#date": {
    "interval": 1,
    "format": "{:%e %b %Y}",
    "tooltip": false,
  },
  "cpu": {
    "interval": 2,
    "tooltip": false,
    "format": "󰘚  {usage:3}%",
    "on-click": "alacritty --class='floating_window' -t 'bottom' -e btm",
  },
  "keyboard-state": {
    "capslock": true,
    "format": {
      "capslock": "{icon}",
    },
    "format-icons": {
      "locked": "󰌾",
      "unlocked": "󰿆",
    },
  },
  "memory": {
    "interval": 15,
    "tooltip": false,
    "format": "  {used:0.1f}G/{total:0.1f}G",
    "on-click": "alacritty --class='floating_window' -t 'bottom' -e btm",
  },
  "network": {
    "interval": 5,
    "format-wifi": "  {signalStrength:3}%",
    "format-ethernet": "󰈀  {ifname}",
    "format-disconnected": " ",
    "tooltip": false,
  },
  "pulseaudio": {
    "scroll-step": 5,
    "format": "{icon}  {volume:3}%",
    "format-bluetooth": "  {volume:3}%",
    "format-muted": "󰝟",
    "format-icons": {
      "headphone": "",
      "default": ["󰕿", "󰖀", "󰕾"],
    },
    "on-click": "pavucontrol --name='floating_window'",
  },
  "temperature": {
    "critical-threshold": 80,
    "interval": 5,
    "format": "{icon}  {temperatureC:2}°",
    "format-icons": ["", "", ""],
    "tooltip": false,
  },
  "tray": {
    "icon-size": 18,
  },
  {{- if eq .wm "hyprland" }}
  "hyprland/language": {
    "format": "󰌌  {short}",
    "tooltip": false,
  },
  "hyprland/submap": {
    "format": "{}",
    "tooltip": false,
  },
  "hyprland/window": {
    "separate-outputs": true,
  },
  "hyprland/workspaces": {
    "format": "{name}: {icon}",
    "format-icons": {
      "1": "󰅩 ",
      "2": " ",
      "3": " ",
      "4": "󰅩 ",
      "5": "󰅺 ",
      "6": "󰇮 ",
      "7": "󰝚 ",
      "urgent": " ",
      "focused": " ",
      "default": " ",
    },
    "sort-by-number": true,
    "on-click": "activate",
    "on-scroll-up": "hyprctl dispatch workspace m+1",
    "on-scroll-down": "hyprctl dispatch workspace m-1",
  },
  {{- else if eq .wm "river" }}
  "river/tags": {
    "tag-labels": [
      "1: 󰅩 ",
      "2:  ",
      "3:  ",
      "4: 󰅩 ",
      "5: 󰅺 ",
      "6: 󰇮 ",
      "7: 󰝚 ",
      "8:  ",
      "9:  ",
    ],
  },
  "river/window": {
    "max-length": 20,
  },
  {{- end }}
  "custom/arrow1": {
    "format": "",
    "tooltip": false,
  },
  "custom/arrow2": {
    "format": "",
    "tooltip": false,
  },
  "custom/arrow3": {
    "format": "",
    "tooltip": false,
  },
  "custom/arrow4": {
    "format": "",
    "tooltip": false,
  },
  "custom/arrow5": {
    "format": "",
    "tooltip": false,
  },
  "custom/arrow6": {
    "format": "",
    "tooltip": false,
  },
  "custom/arrow7": {
    "format": "",
    "tooltip": false,
  },
  "custom/arrow8": {
    "format": "",
    "tooltip": false,
  },
  "custom/arrow9": {
    "format": "",
    "tooltip": false,
  },
  "custom/arrow10": {
    "format": "",
    "tooltip": false,
  },
}
